<div class="mt-2 container">

</div>
<div class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="nvFloorName">
        <th class="header" mat-header-cell *matHeaderCellDef> קומה
         
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>חיפוש</mat-label>
              <input matInput  [formControl]="nvFloorNameFilter" >
            </mat-form-field>
        
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nvFloorName}} </td>
      </ng-container> -->
  <table matSort mat-table [dataSource]="dataSource" > 
      <ng-container matColumnDef="dPniaDate">
      <th class="header" mat-header-cell *matHeaderCellDef > תאריך פניה
        <mat-form-field class="filter" floatLabel="never">
            <mat-label>חיפוש</mat-label>
          <input matInput [formControl]="dPniaDateFilter" >
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.dPniaDate }} </td>
    </ng-container>

    <ng-container matColumnDef="nvSubject">
      <th class="header" mat-header-cell *matHeaderCellDef >נושא
                 <mat-form-field class="filter" floatLabel="never">
                    <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvSubjectFilter" >
          </mat-form-field>
        
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvSubject}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nvPhoneName">
      <th class="header" mat-header-cell *matHeaderCellDef > שם פונה
        <mat-form-field class="filter" floatLabel="never">
            <mat-label>חיפוש</mat-label>
          <input matInput [formControl]="nvPhoneNameFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvPhoneName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nvDepartmentName">
      <th class="header" mat-header-cell *matHeaderCellDef > אגף
                 <mat-form-field class="filter" floatLabel="never">
                    <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvDepartmentNameFilter" >
          </mat-form-field>
        
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvDepartmentName}} </td>
    </ng-container>


    <ng-container matColumnDef="nvFloorName">
      <th class="header" mat-header-cell *matHeaderCellDef> קומה
       
          <mat-form-field class="filter" floatLabel="never">
              <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvFloorNameFilter" >
          </mat-form-field>
            </th>
      <td mat-cell *matCellDef="let element"> {{element.nvFloorName}} </td>
    </ng-container>
    <ng-container matColumnDef="iPriority">
        <th class="header" mat-header-cell *matHeaderCellDef> עדיפות
         
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>חיפוש </mat-label>
              <input matInput  [formControl]="iPriorityFilter" >
            </mat-form-field>
        
        </th>
        <td mat-cell *matCellDef="let element"> {{element.iPriority}} </td>
      </ng-container>

    <ng-container matColumnDef="nvRoomName">
    
        <th class="header" mat-header-cell *matHeaderCellDef> חדר
         
            <mat-form-field class="filter" floatLabel="never"> 
                <mat-label>חיפוש</mat-label>
              <input matInput [formControl]="nvRoomNameFilter" >
            </mat-form-field>
        
        </th>
      
      <td mat-cell *matCellDef="let element"> {{element.nvRoomName}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="nvKindFaultName">
      <th class="header" mat-header-cell *matHeaderCellDef> סוג תקלה 
          <mat-form-field class="filter" floatLabel="never">
              <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvKindFaultNameFilter" >
          </mat-form-field>
       
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvKindFaultName}} </td>
    </ng-container> -->

    <ng-container matColumnDef="nvStatusName">
      <th class="header" mat-header-cell *matHeaderCellDef> סטטוס פניה 
          <mat-form-field class="filter" floatLabel="never">
              <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvStatusNameFilter" >
          </mat-form-field>
            </th>
      <td mat-cell *matCellDef="let element"> {{element.nvStatusName}} </td>
    </ng-container>

    <ng-container matColumnDef="nvKindToolName">
      <th class="header" mat-header-cell *matHeaderCellDef> סוג מכשיר 
          <mat-form-field class="filter" floatLabel="never">
              <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvKindToolNameFilter" >
          </mat-form-field>
       
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvKindToolName}} </td>
    </ng-container>

    <ng-container matColumnDef="nvMetapelName">
      <th class="header" mat-header-cell *matHeaderCellDef > שם מטפל 
          <mat-form-field class="filter" floatLabel="never">
              <mat-label>חיפוש</mat-label>
            <input matInput  [formControl]="nvMetapelNameFilter" >
          </mat-form-field>
       
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nvMetapelName}} </td>
    </ng-container>
    <!-- mat-sort-header -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <button  [hidden]="proxy.User.iRoleId==constants.USER"  md-raised-button class="matraised-Yellow tableButton" (click)="Edit(element)">
            <i class="material-icons">
                explicit
                </i>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="taalich">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <button md-raised-button class="matraised-Green tableButton" (click)="openTaalich(element)">
            <i class="material-icons">
                reorder
                </i>   
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

</div> 