<!--The content below is only a placeholder and can be replaced.-->
<!-- https://material.angularjs.org/1.1.10/demo/datepicker -->
<!-- <app-new-pnia></app-new-pnia> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-page-menu></app-page-menu> -->
<!-- <app-pniot-list></app-pniot-list> -->
<!-- <app-pniot-list></app-pniot-list> -->
<!-- <app-last-taalich-pnia></app-last-taalich-pnia> -->
<router-outlet></router-outlet>

<!-- <app-pniot-list></app-pniot-list> -->
<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content>
       <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>  -->
     <!-- <p><button mat-button (click)="sidenav.toggle()">---</button></p>
     
    </mat-sidenav-content>
  </mat-sidenav-container>  --> 