<?xml version="1.0"?>
<configuration>


  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <!--<appSettings>
    <add key="DBServer" value="USER\SQLEXPRESS" />
    <add key="DataBaseName" value="newStudentProgress" />
    <add key="Login" value="user/user1" />
    <add key="Password" value="" />
    <add key="TryBackToMainServer" value="0" />
    <add key="AlternativeServersNumber" value="0" />
    <add key="ConnectionServerID" value="1" />
    <add key="AlternativeServer1" value="USER\SQLEXPRESS" />
  </appSettings>-->
  <appSettings>
    <add key="myConnectionString" value="server=localhost;database=myDb;uid=myUser;password=myPass;" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webbinding"
       allowCookies="false"
       hostNameComparisonMode="StrongWildcard"
       transferMode="Buffered"   maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647">
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />

    <!--<standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>-->

    <services>
      <service name="Service.Service1" behaviorConfiguration="metadataBehaviour">
        <endpoint address=""
                  name="BasicHttpEndpoint"
                  behaviorConfiguration="webBehavior"
                  bindingConfiguration="webbinding"
                  binding="webHttpBinding"
                  contract="Service.IService1" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>



    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sout@webit.org.il">
        <network host="sout.zahav.net.il" userName="mosesmail08" password="w2w2w2" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="bsf.026430010.co.il" port="25" />
      </smtp>
    </mailSettings>
  </system.net>-->

  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sout &lt;student.progress123@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587"  defaultCredentials="false" userName="student.progress123@gmail.com" password="student.progress" />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>
